<div class="about_content"><h2>All Posts</h2></div>
<% if session[:current_user] %>
<div id="new_post"><%= link_to('New Post', new_post_path) %></div>
<% end %>

<% @posts.each do |current_post| %>
<div><%= render partial: 'home', locals: { post: current_post } %></div>
<div><%= render partial: 'embed', locals: { post: current_post } %></div>
<hr class="hr_style">
<% end %>
