<h2>All Posts</h2>
<% if session[:current_user] %>
<%= link_to('New Post', new_post_path) %>
<% else %>
<%= link_to 'Sign Up', new_user_path %>
<% end %>
<hr>
<% @posts.each do |current_post| %>
<%= render partial: 'home', locals: { post: current_post } %><br>
<%= render partial: 'embed', locals: { post: current_post } %>
<% end %>
