/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 40px;
}

h1, h2, h3, h4, p, nav, a, small  {
  font-family: "Gill Sans", sans-sarif;
  text-transform: uppercase;
  font-weight: lighter;
}

hr {
  opacity: 0.5;
}

nav {
  text-align: center;
}

h1 {
  color: #C78782;
  text-shadow: 3px 3px #99E1E4;
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
}

h2, h3, h4, h5, h6 {
  color: #C78782;
  text-shadow: 3px 3px #99E1E4;
}

h4 {
  text-shadow: inherit;
  margin: 50px 10px 10px 10px;
}

small, p, h4 {
  text-transform: none;

}

ul {
  list-style-type: circle;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
a:hover {
  color: #B39EDD;
  text-shadow: 1px 1px #8AFFFF;
  text-decoration: underline;
}

a:visited {
  text-shadow: 3px 3px #DECEA5;
}

div#welcome {
  text-align: right;
  position: relative;
  margin:
}

div#about_content{
  text-align: center;
  font-family: "Gill Sans", sans-sarif;
  margin: 30px 10px 40px 10px;
  border-bottom: 1px #8AFFFF dotted;
}


nav {
  color: #99E981;
  font-size: 20px;
}
